isort==5.11.4
black==24.3.0
mypy-protobuf==3.6.0
mypy==0.981
pytest==7.1.2
numpy==1.26.4
pyyaml==6.0.1
flake8==3.8.4
grpcio-tools>=1.53.2
twine==4.0.1
types-attrs>=19.1.0
types-protobuf==5.29.1.20241207
types-PyYAML>=6.0.7
types-requests>=2.27.25
types-setuptools>=69.0.0.0
wheel==0.38.4
